body {
    margin: 0;
    height: 100vh;
    background-size: cover;
    background: url('../images/BG.jpg?width=1920&height=1080&quality=75&as=webp') no-repeat;
}

.main {
    height: 100%;
    backdrop-filter: blur(50px);
    overflow: hidden;
}

.upper-container {
    display: flex;
    height: 100%;
    gap: 8rem;
    padding: 8rem;
}

.cd {
    flex: 1;
    height: fit-content;
    aspect-ratio: 1;
    position: relative;
    border-radius: 50%;
    border: 10px solid #FFF;
    box-shadow: 5px 5px 15px #000;
    background: url("../images/cd_img.jpg?quality=75&as=webp") no-repeat;
    background-size: contain;
}

.center {
    width: 100px;
    height: 100px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border: 5px solid #575757;
    background-image: url("../images/yinfu.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: MD;
    src: url("../font/MD.ttf");
}

h2 {
    font-family: MD;
    font-size: 110px;
    color: #ff2525;
    line-height: 2rem;
}

.song {
    flex: 1;
}

p {
    width: 556px;
    height: 300px;
    font-family: "微软雅黑";
    padding-left: 30px;
    line-height: 30px;
    background: url("../images/bg.png") repeat-x;
    box-sizing: border-box;
}

/* 下方控制栏*/

.audio-container {
    padding: 1rem 2rem;
    position: sticky;
    bottom: 0;
    background-color: #4a4a4a;
    display: flex;
}

.left-controls {
    width: 25%;
    display:flex;
}

/* 进度条 */
.a-progress {
    width: 100%;
    color: #42b680;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
}

.pgs-total {
    width: 100%;
    height: 16px;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
}

.a-progress .pgs-total:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    bottom: 7px;
    background-color: #bbbbbb;
    border-radius: 10px;
    z-index: -1;
}

.a-progress .pgs-total .pgs-play:before {
    content: '';
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 0;
    right: 0;
    background-color: #42b680;
    border-radius: 10px;
    z-index: 1;
}

.a-progress .pgs-total .pgs-play {
    height: 100%;
    position: relative;
    border-radius: 10px;
}

.time-container {
    width: 100%;
}

.center-controls{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}
.playpause1 {
    float: left;
    width: 40px;
    height: 40px;
    background-image: url("../images/继续播放.png");
    background-size: 100% 100%;
}

.playpause2 {
    float: left;
    width: 40px;
    height: 40px;
    background-image: url("../images/暂停.png");
    background-size: 100% 100%;
}

.centerleft {
    float: left;
    width: 40px;
    height: 40px;
    background-image: url("../images/上一首.png");
    background-size: 100% 100%;
}

.centerright {
    float: left;
    width: 40px;
    height: 40px;
    background-image: url("../images/下一首.png");
    background-size: 100% 100%;
}