body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    background-size: cover;
    backdrop-filter: blur(50px);
    overflow: hidden;
}
.upper-container {
    width: 80%;
    padding-left: 10%;
    height: 80%;
}
.cd {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 400%;
    left: 5%;
    z-index: 2;
    border-radius: 50%;
    border: 10px solid #FFF;
    box-shadow: 5px 5px 15px #000;
    background: url("../images/cd_img.jpg") no-repeat;
}
.center {
    width: 100px;
    height: 100px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 3;
    border: 5px solid #575757;
    background-image: url("../images/yinfu.gif");
    background-position: center center;
    background-repeat: no-repeat;
}
@font-face {
    font-family: MD;
    src: url("../font/MD.ttf");
}
h2 {
    font-family: MD;
    font-size: 110px;
    color: #ff2525;
}
.song {
    position: absolute;
    top: 25%;
    left: 50%;
}
p {
    width: 556px;
    height: 300px;
    font-family: "微软雅黑";
    padding-left: 30px;
    line-height: 30px;
    background: url("../images/bg.png") repeat-x;
    box-sizing: border-box;
}
/* 下方控制栏*/
.audio-box {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.audio-container {
    width: 90%;
}
.a-controls {
    width: 100%;
}
/* 进度条 */
.a-progress {
    width: 100%;
    color: #42b680;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
}

.pgs-total {
    width: 100%;
    height: 16px;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
}

.a-progress .pgs-total:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    bottom: 7px;
    background-color: #bbbbbb;
    border-radius: 10px;
    z-index: -1;
}

.a-progress .pgs-total .pgs-play:before {
    content: '';
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 0;
    right: 0;
    background-color: #42b680;
    border-radius: 10px;
    z-index: 1;
}

.a-progress .pgs-total .pgs-play {
    height: 100%;
    position: relative;
    border-radius: 10px;
}

